#Global properties for akubra storage

#########################################
# Akubra Driver: Advanced Configuration #
#########################################

#Akubra store
objectStore.path=/data/storage/objectStore
objectStore.pattern=##
datastreamStore.path=/data/storage/datastreamStore
datastreamStore.pattern=##

# Searching core
solrSearchHost=http://solr:8983/solr/searchCore

# Logging core
solrLogHost=http://solr:8983/solr/loggingCore

