import.requiredDatastreamId=NDK_AUDIO_ARCHIVAL, NDK_AUDIO_USER
import.ndkaudiopage.modelId=model:ndkaudiopage
import.page.modelId=model:page

import.ndk_audio_archival.file.suffix=.wav
import.ndk_audio_user.file.suffix=.mp3
import.ndk_audio_source.file.suffix=.ac.wav
import.ndk_archival.file.suffix=.mc.jp2
import.ndk_user.file.suffix=.uc.jp2
import.alto.file.suffix=.xml
import.text_ocr.file.suffix=.txt

# Create models hierarchy in SoundRecording import.
import.create.models_hierarchy=true

import.ndk_archival.processor=grk_ac
import.ndk_user.processor=grk_uc
import.jp2_convertor.processor=grk_tiff

processor.grk_ac.exec=grk_compress
processor.grk_ac.type=kdu_compress
processor.grk_ac.arg=-r
processor.grk_ac.arg=1
processor.grk_ac.arg=-t
processor.grk_ac.arg=4096\,4096
processor.grk_ac.arg=-p
processor.grk_ac.arg=RPCL
processor.grk_ac.arg=-n
processor.grk_ac.arg=6
processor.grk_ac.arg=-c
processor.grk_ac.arg=\[256\,256\]\,\[256\,256\]\,\[128\,128\]\,\[128\,128\]\,\[128\,128\]\,\[128\,128\]
processor.grk_ac.arg=-b
processor.grk_ac.arg=64\,64
processor.grk_ac.arg=-M
processor.grk_ac.arg=1
processor.grk_ac.arg=-S
processor.grk_ac.arg=-E
processor.grk_ac.arg=-X
processor.grk_ac.arg=-u
processor.grk_ac.arg=R
processor.grk_ac.arg=-H
processor.grk_ac.arg=4

processor.grk_uc.exec=grk_compress
processor.grk_uc.type=kdu_compress
processor.grk_uc.arg=-I
processor.grk_uc.arg=-r
processor.grk_uc.arg=362\,256\,181\,128\,90\,64\,45\,32\,22\,16\,11\,8
processor.grk_uc.arg=-f
processor.grk_uc.arg=-t
processor.grk_uc.arg=1024\,1024
processor.grk_uc.arg=-p
processor.grk_uc.arg=RPCL
processor.grk_uc.arg=-n
processor.grk_uc.arg=6
processor.grk_uc.arg=-c
processor.grk_uc.arg=\[256\,256\]\,\[256\,256\]\,\[128\,128\]\,\[128\,128\]\,\[128\,128\]\,\[128\,128\]
processor.grk_uc.arg=-b
processor.grk_uc.arg=64\,64
processor.grk_uc.arg=-M
processor.grk_uc.arg=1
processor.grk_uc.arg=-X
processor.grk_uc.arg=-u
processor.grk_uc.arg=R
processor.grk_uc.arg=-H
processor.grk_uc.arg=4
